@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

#about {
  padding: 200px 0;
}

#features .compare {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 992px) {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    & > div {
      width: 100%;
      & + & {
        margin-top: 30px;
      }
    }
  }
  > div {
    padding: 30px;
    text-align: left;
    border-radius: 24px;
    min-height: 300px;
    > p:before {
      content: " - ";
      margin-right: 8px;
    }
    > h3 {
      text-align: center;
      margin-bottom: 50px;
    }
    &:nth-child(1) {
      background: white;
    }

    &:nth-child(2) {
      > h3 {
        color: white;
      }
      background: #5ca9fb;
      color: white;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../public/img/author.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        opacity: 0.1;
        border-radius: 24px;
      }
    }
  }
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.6);
}

.btn-request-demo {
  text-decoration: none;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  color: white;
  padding: 10px 40px;
  border-radius: 36px;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border: 0;
  margin-top: 6px;
  display: inline-block;
  &:hover,
  &:focus {
    color: white;
  }
  &.nav-active {
    display: none;
  }
  @media screen and (max-width: 768px) {
    display: none;
    &.nav-active {
      display: block;
      float: right;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 8px;
    }
  }
}

a.navbar-brand, .brand {
  text-transform: uppercase;
}

a.navbar-brand i, .brand i {
  font-style: italic;
  font-weight: 700;
  color: #db81e9;
}

#contact {
  .contactus {
    > div {
      & + div {
        margin-top: 15px;
      }
      text-align: vertical;
      & a {
        color: white;
      }
    }
  }
}
